<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=devide-width, initial-scale=1.0" />
    <title>ShopStop</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico" />
    <link rel="stylesheet" href="../../content/styles/site.css" />
</head>
<body>
    <header>
        <nav class="nav">
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a href="/product/add">Add Product</a></li>
                <li><a href="/category/add">Add Category</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form id="add-category-form" class="center-form", method="post">
            <h2>Add Category</h2>
            <div>
                <label for="name">Name</label>
                <input id="name" name="name" type="text" class="input-field"/>
            </div>

            <div class="form-group">
                <input id="add-category-btn" type="submit" value="Add" class="btn"/>
            </div>

        </form>
    </main>
    <footer>
        <p>&copy; ShopStop</p>
    </footer>
</body>
</html>